@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";

/* Screens */
@import "screens/login.css";

body {
  background-color: var(--line-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-area {
  background-color: #f1f1f1;
  width: 540px;
  height: 160vh;
}
