@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/head-menu.css";
@import "components/head-search.css";
@import "components/user-componet.css";
@import "components/bottom-nav.css";

/* Screens */
@import "screens/login.css";
@import "screens/home.css";
@import "screens/chats.css";
@import "screens/chat.css";
@import "screens/timeline.css";
@import "screens/wallet.css";

body {
  background-color: var(--line-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-area {
  position: relative;
  background-color: #ffffff;
  width: 540px;
  height: 100vh;
}
