/* --------home main------- */
.home-main {
  display: flex;
  flex-direction: column;
  padding: 0px var(--main-margin);
}

.home-main__keep {
  width: 80px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  font-size: 1.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* home-services */
.home-service {
  margin-top: 60px;
}

.home-service__icons {
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
  /* line-height: 30px; */
}

.home-service__icon {
  width: 25%;
  height: 120px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.home-service__icon .icon_img {
  margin-bottom: 20px;
}

/* animation */
.home-head__setting:hover {
  animation: 1.5s rotation;
}
