/* S-------------NAV------------ */
.btm-nav {
  position: fixed;
  width: 540px;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* height: 80px; */
  background-color: #fcfcfc;
}
.btm-nav__icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: -15px;
  /* align-items: center; */
  /* line-height: 30px; */
}
.btm-nav__icon a {
  width: 25%;
  height: 120px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.btm-nav__img {
  position: relative;
  margin-bottom: 5px;
}

.btm-nav__icon i:hover {
  color: var(--line-color);
  animation: 1.5s rotationY;
}

.btm-nav__noti {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  top: -5px;
  right: -5px;
}

/* chat input */
.btm-nav__input {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.btm-nav__input::placeholder {
  padding: 10px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.btm-nav__input:focus {
}
/* E-------------NAV------------ */
